.gallery-item {
  display: inline-block
  text-align: center
  vertical-align: top
  width: 100%
}

.gallery {
  for i in (1..9) {
    &.gallery-columns-{i} {
      .gallery-item {
        width: "calc(100% / %s)" % i
      }
    }
  }
}

.gallery-caption {
  display: block
  margin: 0
}

.alignleft {
  display: inline
  float: left
  margin-right: r(20px)
}

.alignright {
  display: inline
  float: right
  margin-left: r(20px)
}

.aligncenter {
  clear: both
  display: block
  margin-left: auto
  margin-right: auto
}
