.sample-widgets {
  background: darken(colors.gray, 15%)
  color: colors.white

  .container {
  }

  .clock {
    font-size: r(30px)
    line-height: 1.2
  }

  .react, .vanilla {
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    padding: r(40px) 0

    @media media.mobile {
      flex-flow: column wrap
      text-align: center

      ul {
        text-align: left
      }
    }

    button {
      margin-bottom: r(15px)
    }
  }
}
