.spost { // single-post conflicts with WP
  padding: r(40px) 0 // affects body

  &:first-child {
    padding-top: 0
  }

  &__header {
    h1 {
      margin-top: 0.5em
    }
  }

  &__content {
    clearfix()

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1em
    }
  }

  &__footer {

  }

  &__pagination {

  }
}
