fixedDesktopMenu = true
desktopMenuHeight = r(120px)
mobileMenuHeight = r(60px)

body {
  if (fixedDesktopMenu) {
    padding-top: desktopMenuHeight + r(20px)
  }

  @media media.medium, media.small, media.xsmall {
    padding-top: mobileMenuHeight + r(20px)
  }

  &.admin-bar {
    if (fixedDesktopMenu) {
      .site-header {
        top: r(32px)
      }
    } else {
      .site-header {
        margin-bottom: r(20px)
      }
    }

    .mobile-header {
      top: 32px

      @media (max-width: 782px) {
        top: 46px
      }
    }
  }
}

@import 'header/*'
