.container {
  width: 100%
  max-width: r(1160px)
  margin-left: auto
  margin-right: auto
  overflow: hidden

  @media (max-width: 1200px) { // Prefer values from shared-variables, this is an edge case
    max-width: 96%
  }
}

img {
  vertical-align: middle
  max-width: 100%
  height: auto
}

.responsive-table {
  max-width: 100%
  overflow-x: auto
}
