::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: currentColor;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: currentColor;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: currentColor;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: currentColor;
}

form {
  overflow: hidden // clear possible floats
}

inputBase() {
  appearance: none
  border: none
  background: colors.white
  width: 100%
  padding: r(5px) r(10px)
  font-size: r(18px)
  line-height: 1.78
  color: colors.black
  height: r(40px) // IE fix
}

select {
  inputBase()
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    inputBase()
  }

  &[type="checkbox"],
  &[type="radio"] {
    vertical-align: middle
    flex: 0 0 auto
    margin-right: r(10px)
    width: r(20px)
    height: @width
  }

  &[type="submit"] {
    margin-left: auto
    margin-right: auto
  }
}

.mockbox {
  display: inline-block
  width: r(20px)
  height: @width
  background: colors.gray
  vertical-align: middle

  &:after {
    content: ''
    display: inline-block
    vertical-align: middle
    text-align: center
  }

  &.checked {
    &:after {
      content: '✔️'
    }
  }
}

.mockradio {
  display: inline-block
  width: r(20px)
  height: @width
  background: colors.gray
  vertical-align: middle
  border-radius: 100%

  &:after {
    content: ''
    display: inline-block
    vertical-align: top
    text-align: center
    transform: scale(2)
    position: relative
    top: r(-1px)
    width: @width
  }

  &.checked {
    &:after {
      content: '•'
    }
  }
}

button, .button {
  display: inline-block
  appearance: none
  padding: r(10px) r(15px)
  border: none
  font-size: r(16px)
  line-height: 0.7
  letter-spacing: r(1.2px)
  text-transform: uppercase
  color: colors.white
  transition: 0.2s ease-out
  background: colors.gray

  &:hover, &:focus, &:active {
    transition: 0.2s ease-in
    background: lighten(colors.gray, 10%);
  }
}

.checkbox-row,
.radio-row {
  display: flex
  align-items: center
  justify-content: flex-start

  > label {
    margin-right: r(15px)

    &:last-child {
      margin-right: 0
    }
  }
}

.fc-{
  &1-4 {
    column(1/4, cycle: 3);
  }

  &1-3 {
    column(1/3, cycle: 3);
  }

  &1-2 {
    column(1/2, cycle: 2);
  }

  &1-1 {
    column(1/1);
  }
}

.fc-row {
  display: block
  width: 100%
  margin-bottom: r(10px)
  clearfix()

  &.left {
    text-align: left
  }

  &.center {
    text-align: center
  }

  &.right {
    text-align: right
  }

  &:last-of-type {
    margin-top: r(30px)
  }

  label {
    > span, strong, em {
      display: block
      margin-bottom: r(5px)
    }
  }
}


.search-form {
  display: flex
  width: 100%
  background: colors.gray
  padding: r(10px) r(10px)
  align-items: center
  transition: 0.2s ease-out

  input[type="search"] {
    padding-top: 0
    padding-bottom: 0
    line-height: r(40px)
  }

  button {
    height: r(40px)
    background: colors.orange

    &:hover, &:active {
      background: darken(colors.orange, 15%);
    }
  }
}
