.gform_wrapper {

}

.gform_heading {

}

.gform_body {
}

.gform_fields {
  list-style: none // The fact that it's an ul is absurd.
  padding: 0
  margin: 0
}

.gfield_label {
  margin-bottom: r(5px)
  display: block

  &_before_complex {
    font-weight: bold
  }
}

.ginput_complex {
  > * {
    margin-bottom: r(15px)
    display: block
  }
}

.gform_footer {
  margin-top: r(25px)
}

.gform_button {
  background: colors-orange
}
