.pagebuilder {
  .hero {
    background-size: cover
    margin-top: r(-20px)

    @media media.medium, media.small, media.xsmall {
      padding-top: r(20px)
    }

    .container {
      color: colors.white
      min-height: r(350px)
      position: relative

      @media media.medium, media.small, media.xsmall {
        min-height: r(200px)
      }

      .noop-wrapper {
        max-width: r(750px)
        position: absolute
        bottom: 0
      }
    }

    h1 {
      margin-bottom: r(44px)

      @media media.medium, media.small, media.xsmall {
        margin-bottom: r(20px)
      }

      small {
        margin-bottom: r(20px)
        display: inline-block
      }
    }
  }

  .alternating-block {
    padding-top: r(60px)
    padding-bottom: r(40px)
    background-size: cover

    &.bg-dark {
      color: colors.white
    }

    &.bg-light {
      color: colors.black
    }

    @media media.medium, media.small, media.xsmall {
      padding-top: r(45px)
      padding-bottom: r(30px)
    }

    .container {
      display: flex
      flex-flow: row nowrap
      // align-items: center
      align-items: flex-start
      justify-content: center
      overflow: visible

      @media media.medium, media.small, media.xsmall {
        flex-flow: column-reverse wrap
        align-items: center
      }

      > :first-child {
        margin-right: r(120px)

        @media media.medium, media.small, media.xsmall {
          margin-right: 0
        }
      }

      &.reverse {
        flex-flow: row-reverse nowrap

        @media media.medium, media.small, media.xsmall {
          flex-flow: column-reverse wrap
        }

        > :first-child {
          margin-right: 0
          margin-left: r(120px)

          @media media.medium, media.small, media.xsmall {
            margin-left: 0
          }
        }
      }

      &.shortcode {
        align-items: center
        justify-content: space-around

        > * {
          max-width: r(450px) // IE fix
        }
      }

      &.reverse.shortcode {
        justify-content: flex-end
      }
    }

    &__main {
      max-width: r(565px)
      flex: 0 0 auto

      @media media.large, media.medium {
        max-width: 50%
      }

      @media media.medium, media.small, media.xsmall {
        max-width: 100%
      }
    }

    &__secondary {
      min-width: r(475px)
      text-align: center
      align-self: center

      @media media.medium, media.small, media.xsmall {
        min-width: auto

        img {
          padding: r(20px)
        }
      }

      img {
        max-width: 100%
        height: auto
      }
    }
  }
}
