h1, h2, h3, h4, h5, h6, p {
  margin: 0
  padding: 0
  margin-bottom: 2rem
  line-height: 1.5

  small {
    font-size: 0.6em
  }
}

h1, .h1 {
  font-size: r(64px)
  line-height: 1.09
  // color: red
}

h2, .h2 {
  font-size: r(36px)
  line-height: 1.33
}

h3, .h3 {
  font-size: r(30px)
}

h4, .h5 {
  font-size: r(24px)
}

h5, .h5 {
  font-size: r(20px)
}

h6, .h6 {
  font-size: r(18px)
}

p, .p {
  font-size: r(20px)
  line-height: 1.3
  margin-bottom: 1rem
}

a {
  color: colors.orange
  text-decoration: none
}
