media = json('../media-queries.json', { hash: true });
colors = json('../colors.json', { hash: true });


/*
// Stylus turns json files into variables: http://stylus-lang.com/docs/bifs.html#jsonpath-options
// This is just for illustration purposes.

colors = {
  black: #000000,
}

media = {
  xlarge: xlarge, // Desktop
}; */
