json('../shared-variables.json');


/*
  // Deprecated, values are imported from JSON
  // To get white, use colors-white. To get black, use colors-black.

  colors = {
    black: #000000,
  }
*/


/* Stylus is future-proof'd in such a way that it thinks `@media desktop` as a
   valid rule, and doesn't parse it. `@media media.xlarge, media.large` works.
   That targets desktop and laptop screeens. */

media = {
  xlarge: xlarge, // Desktop
  large: large, // MBP 13" on default scaling
  medium: medium, // Landscape tablet / netbook
  small: small, // Tablet in portrait
  xsmall: xsmall, // Phone

  laptop: laptop,
  tablet: tablet,
  phone: phone,
};
