.alignleft {
  display: inline
  float: left
  margin-right: r(20px)
}

.alignright {
  display: inline
  float: right
  margin-left: r(20px)
}

.aligncenter {
  clear: both
  display: block
  margin-left: auto
  margin-right: auto
}
